.main {
    padding: 15px;
}

.index {
    padding-top: 100px
}

h3 {
    padding-top: 25px;
}

.statistic-block strong.add{
    color: darkorchid;
    font-size: 1.3rem;
}

.center {
    font-size: 20px;
    margin: 0 auto;
}

.center img {
        opacity: 0.5;
        display: block;
        margin: 0 auto;
}

.statistic-block.block:hover img{
    opacity: 1;
}

.statistic-block.block:hover strong.add {
    color: deeppink;
}

.title.center a:hover {
    text-decoration: none;
}


