@model PetCareApp.ModelView.Home.SearchModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form method="get" action="@Url.Action("CreateVisit", "MedicalHistory")">
    <select name="id" title="Quien nos visita hoy?">
        @{
            foreach (var item in Model.SearchItems)
            {
                <option value="@item.PetId">@item.Description</option>
            }
        }
    </select>
    <button type="submit">Search</button>
</form>