@model PetCareApp.ModelView.MedicalHistory.MedicalHistoryModel

<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="infoContainer block">
        <div class="infoImg">
            @{
                var genre = Model.OwnerGenre;
                if (ViewBag.Theme == "dark")
                {
                    <img class="iconOwner setopacity" src="~/Content/images/white-@genre-icon.svg" />
                }
                else
                {
                    <img class="iconOwner setopacity" src="~/Content/images/black-@genre-icon.svg" />
                }
            }
        </div>
        <div class="info">
            <h3>Owner Info</h3>
            <ul>
                <li> Name = @Model.OwnerName </li>
                <li> Phone = @Model.OwnerPhone</li>
            </ul>
        </div>
    </div>
</div>
