@model PetCareApp.ModelView.MedicalHistory.MedicalHistoryModel

@{
    ViewBag.Title = "Medical History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("_PetInfo", Model)
        @Html.Partial("_OwnerInfo", Model)
    </div>
    <div class="row">
        @if (!Model.IsCreate)
        {
            <div class="btn"></div>
        }
    </div>
    <div class="row">
        <div class="form">

        </div>
        @Html.Partial("_VisitList", Model)
    </div>
</div>