/* your styles go here */

img.vet{
    opacity: 0.5;
}

img.setopacity {
    opacity: 0.4;
}

a.changeonhover:hover img{
    opacity:1;
}

nav#sidebar a.changeonhover:hover {
    color: #DB6574 !important;
    
}