
@{
    Layout = null;
}

<footer class="footer">
    <div class="footer__block block no-margin-bottom">
        <div class="container-fluid text-center">
            <p class="no-margin-bottom footer-text">2017 &copy; PetCare.</p>
        </div>
    </div>
</footer>
